body{
  margin:0;
  padding:0;
}
.container{
    width:70%;
    padding:15px;
 }
@media screen and (max-width:768px){
  .container {
       width:100%;
       padding:15px;
    }
}
h1{
  margin:0;
  font-size:25px;
}
.move-title{
  font-size:19px;
  color:#e0eaf9;
  font-weight:bold;
}
p{
  margin:15px 0;
}
.search > input{
  float:left;
  width:75%;
  margin:0;
  padding:10px 5px;
  border:none;
  max-height:40px;
}
.search > button{
  float:right;
  width:23%;
  margin:0;
  padding:10px 15px;
  background-color:#042037;
  color:#fff;
  font-weight:bold;
  border:none;
  max-height:40px;
}
@media screen and (max-width:768px){
  .search > input{
   width:60%;
  }
  .search > button{
   width:35%;
  }
}
button:hover{
  cursor:pointer;
}
.results, .noResults{
  /* display:none; */
  margin-top:20px;
}
#theSearch{
  background-color: #eee;
}
.result{
  margin-bottom:12px;
  border:1px solid #000;
  background-color:#111519;
  padding:10px;
  color:#fff;
  cursor:pointer;
}
.result > span{
  width:45%;
  float:left;
  line-height:1.5em;
}
.result > span:not(:first-child){
  float:right;
}
.reviews{
  margin-top:10px;
}
.clear{clear:both;}

.modal-header {
     padding:0px;
     border-bottom: 0px
   }
.modal-header .close {
    margin: -10px -10px 0 0;
    background-color: white;
    opacity: 1;
    width: 20px;
    border-radius: 10px;
   }
.carousel-inner > .item > img {
    height: max-content;
   }
.modal-dialog {
    width: 55%;
    margin: 30px auto;
    }

.movieDetails{
  color : #e0eaf9;
  background-color:#111519;
  margin-top : 10px;
  padding: 10px;
  line-height :inherit;
}

div > button{
    margin-top : 10px;
}
