       <span>
         <div class="move-title">{{movie.Title}} ({{movie.Year}})</div>
         <div><strong>Movie Name : </strong> {{movie.Title}}</div>
         <div><strong>Year : </strong>{{movie.Year}}</div>
         <div><strong>Type : </strong> {{movie.Type}}</div>
         <div><strong>IMDB ID : </strong> {{movie.imdbID}}</div>
       </span>
       <span><strong>Poster: </strong>
         <div><img style="max-width:200px; max-height:200px" ng-src="{{movie.Poster}}" /></div>
       </span>
       <div class="clear"></div>
